html, body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    display: block;
    height: auto;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    height: auto;
    background: #fff url(../img/books.jpg);
    background-size: cover;
}
#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h2 {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 36px;
    color: #000;
    text-shadow: 0 1px 1px #fff;
    margin: 0;
}

#content, #bookContent {
    width: 700px;
    margin: 150px auto 0;
    background: rgba(0,0,0,0.6);
    border: 1px solid #fff;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.4);
}

#bookContent {
    height: auto;
    padding: 50px;
    color: #fff;
    margin-bottom: 30px;
}

#getBooks, #addBook {
    width: 45%;
    margin: 2%;
    height: 90%;
    float: left;
}
#getBooks {
    border-right: 1px solid #fff;
}

#getBooks input[type=submit], #addBook input[type=submit], #goBack {
    background-color: #4CAF50;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    margin-top: 30px;
}
#getBooks input[type=submit] {
    margin: 30px auto;
}
#addBook input[type=submit], #goBack {
    background-color: #fff;
    color: #4CAF50;
}

#goBack {
    width: 100px;
    margin: 0 auto 50px;
}

#addBook label {
    display: block;
    margin: 0;
    padding: 10px 0;
    color: #fff;
    font-weight: normal;
}
#addBook input[type=text] {
    display: block;
    width: 100%;
    height: 24px;
    padding: 4px 10px;
    background: #fff;
    border: 0;
    border-radius: 5px;
    color: #222;
}
.clear {
    clear: both;
}

table{
    width: 700px;
    margin: 150px auto 30px;
    background: rgba(0,0,0,0.6);
    border: 1px solid #fff;
    min-height: 300px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.4);
    color: #fff;
}
table td {
    padding: 4px 8px;
    border: 1px solid rgba(255,255,255,0.5);
}